<app-healder>new</app-healder>


<main>
    <body>
        <div class="titre">
            <h1 id="titreText"> RESERVER UNE DE NOS SALLES</h1>
            <br><br>
        </div>

        <div id="main">
            <div id="images">
                <img [src]="plan" alt="Plan du cafe" width="450px">
                <p *ngIf="!reservationForm.espace">Choisissez un espace</p>
                <p>{{reservationForm.espace}}</p>
            </div>
            <br>


            <div id="reservation">
                <img id="chat" src="../../../assets/img/image 16.png">
                <h2><u>Réservation :</u></h2>

                <div id="espace">
                    <h6>Espace</h6>
                    <select class="bouton" id="espace" name="espace" [(ngModel)]="reservationForm.espace">
                        <option *ngFor="let espace of keys(espaces)" [ngValue]="espace">{{espace}}</option>
                    </select>
                </div>

                <div id="date" name="date">
                    <h6>Date</h6>
                    <input class="bouton" type="date" name="date" [(ngModel)]="reservationForm.jour">
                </div>

                <div id="heure" name="heure">
                    <h6>Heure</h6>
                    <input class="bouton" type="time" name="heure" [(ngModel)]="reservationForm.heure">
                </div>

                <div id="effectif" name="effectif">
                    <h6>Nombre de personne</h6>
                    <input class="bouton" type="number" name="effectif" [(ngModel)]="reservationForm.effectif">
                </div>

                <div id="reserver">
                    <button type="button" class="btn btn-dark" type="submit" (click)="create()">Réservez maintenant !</button>
                    <!-- <input class="boutonNoir" type="submit" value="Réservez maintenant" (click)="create()"> -->
                </div>
            </div>
        </div>
    </body>
</main>