.custumBtn {

    width: 562px;
    height: 154px;
    border-color: black !important;
    background-color: #D3AC71;
    margin-top: 0;
    border-radius: 20px;
    color: black !important;
    font-family: "Amatica SC";
    font-style: Bold;
    font-size: 70px;
    line-height: 102px;
    line-height: 100%;

}

#aboutUsCat {
    height: 179px;
    width: 305px;
    object-fit: cover;
    margin-bottom: -41.9px;
    margin-right: 100px;
    z-index: 1;
}