<app-healder></app-healder>

<body id="tout">

    <div class="titre">
        <img id="titreChat" src="../../../assets/img/image 24.png">
        <h1 id="titreText"> NOS CHATS A L'ADOPTION</h1>
        <br><br>
    </div>

    <div id=lignesAdoption>

        <br>
        <h2 class="separationhaut"></h2>
        <br>

        <h1 class="titre" *ngIf="findAllAdoptable().length == 0">RUPTURE DE STOCK</h1>

        <div class="card-deck customdeck">
            <div class="card customcard border-dark gris mb-3"
                *ngFor="let element of findAllAdoptable(); let i = index">
                <img class="card-img-top imgChat raccourcis " [src]="element.image" alt="Card image cap">
                <div class="card-header text-center upercase marron fontAmatic">{{element.nom}}</div>
                <div class="card-body gris">
                    <ul class="liste fontAbel">
                        <li>Race : {{element.race}}</li>
                        <li class="capitalize">{{element.sexe}}</li>
                        <li>Née le : {{element.naissance}}</li>
                        <li *ngIf="element.sterile; else sterile2">Stérilisé : Oui</li>
                        <ng-template #sterile2><li *ngIf="element.sterile==false">Stérilisé : Non</li></ng-template>
                        <li *ngIf="element.pbSante!==null">Problème de santé : {{element.pbSante}} </li>
                        <li *ngIf="(element.commentaire!==null)"><i>« {{element.commentaire}} »</i></li>
                    </ul>
                </div>
                <div class="card-footer border-transparent text-center ">
                    <a class="btn btn-secondary btnNavBar" (click)="adopter(element)">ADOPTEZ MOA !</a>
                </div>

            </div>
        </div>
        <br>
        <h2 id="separationbas"></h2>
        <br>
    </div>
</body>