#tout{
    //background-color:#ECE0C9;
    background: linear-gradient(180deg, #ECE0C9 0%, #EFD4A0 100%);
  }
  
  .titre{
  display: flex;
  align-items: center;
  flex-direction:column;
  }
  
  #titreChat{
        width: 315px;
        height: 145px;
        left: 1011px;
        top: 104px;
        margin-bottom: -28.9px;
        margin-right: -395px;
        z-index: 1;
  }
  
  #titreText{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 70px;
    left: 455px;
    top: 206px;
    background-color: #D3AC71;
   border-bottom-style: solid;
        border-top-style: solid;
        border-left-style: solid;
        border-right-style: solid;
        border-radius: 20px;
        font-size: 40px;
  }

  .btnNavBar{
    background-color: #D3AC71;
  }
  .btnNavBar:hover {
    //width: 206px;
    //height: 56px;
    //border-width: 2px;
    //color: white;
    border-color:white;
    background-color: #EFD4A0;
    //font-size: 21px;

}
  
  #separationbas{
    border-top-style: solid;
    margin-inline-start: 76px;
    margin-inline-end: 76px;
  }
  .separationhaut{
    border-top-style: solid;
    margin-inline-start: 76px;
    margin-inline-end: 76px;
  }
  
  .customdeck{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .customcard{
    width: 21%;
  }

  .upercase{
    text-transform: capitalize;
  }

  .liste{
    list-style: none;
  }
  
  .imgChat{
    height: 250px;
    width: 100%;
    
  }