<body class="containerd">

    <div class="container">
        <router-outlet></router-outlet>
        <app-healder></app-healder>

    </div>

    <section id="array1" class="">

        <div class="d-flex flex-column align-items-end flex-direction-end">
            <div id="titleArray">
                <div id="" class="d-flex flex-row flex-direction-center align-items-center ">
                    <h1 class="">JavaCatCafe</h1>
                    <img src="../../../assets/img/patoune.png" alt="Logo du site">
                </div>
                <p>Offrez vous un moment de détante félin</p>
            </div>
        </div>
        <div id="btArray" class="d-flex flex-column  flex-direction-center align-items-center ">
            <button class="btn btn-outline-dark  ">Reserver maintenant </button>
        </div>

    </section>
    <section id="aboutUsArray" class=" px-5">

        <div class="d-flex flex-colum justify-content-between align-items-center py-3 ">

            <div id="aboutUsArrayTop">
                <app-cat-button></app-cat-button>

                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis doloribus natus, est
                    magnam,
                    dolorem odit unde necessitatibus quia perferendis nulla excepturi omnis reiciendis eaque, quasi
                    officia! Obcaecati, architecto atque. Maxime!
                </p>

            </div>



            <div id="aboutUsArrayTop" class="d-flex flex-column justify-content-center align-items-center ">
                <img id="aboutUsCat_" src="../../../assets/img/image25.png" alt="" srcset="">
            </div>
        </div>
        <div class="d-flex flex-row justify-content-between align-items-center ">

            <img id="aboutImgCatOnLaptop" class="mx-5" src="../../../assets/img/image26.png" alt="" srcset="">

            <div class="d-flex flex-colum justify-content-center align-items-center w-75 ">
                <div id="DontWaitText">
                    <p>N’attendez pas, rendez nous visite !!!</p>

                </div>
                <div class="d-flex flex-row flex-direction-center ">
                    <img src="../../../assets/img/patoune 4.png" alt="" srcset="">
                    <!--
                     <img class="mr-5" src="../../../assets/img/patoune 4.png" alt="" srcset="">

                    -->
                </div>
            </div>

        </div>
    </section>
    <section id="ourResidentArray" class="mx-5m">
        <div class="d-flex flex-column justify-content-center align-items-center w-50 h-100 "
            id="ourResidentArrayImage">
            <img class="mx-5" src="../../../assets/img/Vector.png" alt="">
            <p class="mx-5">Ceux qui n’aiment pas les chats se réincaneront en souris</p>
            <img src="../../../assets/img/Vector2.png" alt="">

        </div>
    </section>

    <section id="ourArrayCat" class="d-flex flex-colum justify-content-between align-items-center px-5 ">
        <div id="ourArrayCatLeft">

            <div id="ourArrayCatLeftImg" class="d-flex justify-content-center align-items-center">
                <img id="adopteMeImg" src="../../../assets/img/AdopteMe.png" alt="" srcset="">

            </div>

        </div>
        <div id="ourArrayCatRight">
            <h2 class="my-5 ">Nos chats à l’adoption </h2>
            <p>
                Vous avez toujours révé d’avoir un chat aimant à vos coté et de ne plus jamais regarder Netflix seul sur
                votre canapé ?

            </p>
            <p>
                Des dizaines de petits félins malheureux n’attendent que vous !!!
            </p>
            <p>
                Consulter directement sur notre site tous les chats que nous avons recueillis, et pouvant être adoptés
                dès aujourd’hui :
            </p>
            <!--

            -->
            <div class="d-flex flex-column align-items-center ">
                <img id="discoverMoreImg" class="" src="../../../assets/img/chat_rebord_11.png" alt="" srcset="">
                <button id="discoverMoreBt" class="custumBtn">Découvrir tous les chats disponibles</button>
            </div>



        </div>

    </section>
    <section class=" d-flex flex-row align-items-center justify-content-around border-top border-secondary"
        id="vacances">

        <div id="gauche">
            <div class="texte">
                <h2 class="my-5 ">Vous partez en vacances ? </h2>

                <p>Un week end en amoureux à Rome et Félix se retrouve tout seul à la maison ?</p>
                <p>Pas de soucis, JavaCatCafe s’occuppe de tout !!! Déposez votre chat chez nous pendant vos vacances et
                    nous nous chargerons de lui faire vivre un séjour aussi inoubliable que le votre !</p>
            </div>

            <div class="d-flex flex-column align-items-center pb-5 ">
                <img id="chatNoir" src="../../../assets/img/image 27.png" alt="petit chat noir">
                <button class=" custumBtn">Faites garder votre chat</button>
            </div>
        </div>

        <div id="droite">
            <div class="frame">
                <img src="../../../assets/img/chat-valise.jpg" alt="chat dans une valise">
            </div>
        </div>
    </section>

    <section id="tout">

        <h2 id="barre">placeholder pour la barre</h2>

        <div id="barreNosEspaces">

            <div id="barreNosEspacesGauche">
                <h1 id="barreNosEspacesTexte">
                    NOS ESPACES
                </h1>
            </div>

            <div id="barreNosEspacesDroite">
                <input id="barreNosEspacesBtn" type="button" name="" value="Reservez maintenant">
            </div>
        </div>

        <div id="futureCarousel">
            <div id="divImg1">
                <div class="divNomEspaceFlex">
                    <div class="divNomEspaceRelative">
                        <p class="nomEspace">Salon de thé</p>
                    </div>
                </div>
                <img src="../../../assets/img/4 1.png" id="img1">


            </div>
            <div id="divImg2">
                <div class="divNomEspaceFlex">
                    <div class="divNomEspaceRelative">
                        <p class="nomEspace">Salon de coworking</p>
                    </div>
                </div>
                <img src="../../../assets/img/image 15.png" id="img2">
            </div>
        </div>

        <div id="carteEspaceRelative">
            <div id="carteEspaceAbsolute">
                <div id="carteEspaceFlex">

                    <h2>Espaces disponibles</h2>

                    <div class="salle">
                        <div class="texteSalle">
                            <p>Salon de thé</p>
                            <p>Prendre un thé avec un super gateau fait maison entouré de chats trop mignon</p>
                        </div>
                        <div class="prixSalle">
                            <p>15 €</p>
                        </div>
                    </div>

                    <div class="salle">
                        <div class="texteSalle">
                            <p>Salle de coworking</p>
                            <p>Pour travailler efficacement au milieu des chats
                                (10 personnes max)</p>
                        </div>
                        <div class="prixSalle">
                            <p>15 €</p>
                        </div>
                    </div>

                    <div class="salle">
                        <div class="texteSalle">
                            <p>Salon de jeux de société</p>
                            <p>Venez vous amusez au milieu des chats</p>
                        </div>
                        <div class="prixSalle">
                            <p>15 €</p>
                        </div>
                    </div>

                    <div class="salle">
                        <div class="texteSalle">
                            <p>Salon chill</p>
                        </div>
                        <div class="prixSalle">
                            <p>15 €</p>
                        </div>
                    </div>






                </div>
            </div>


        </div>


    </section>


    <section class="px-5 border-top border-secondary" id="location">
        <h2 class="py-5  ">Nous Trouver</h2>
        <div class="d-flex flex-row align-items-center justify-content-around">

            <img class="w-25" src="../../../assets/img/image_18.png" alt="" srcset="">
            <div class="w-25">
                <div class="d-flex align-items-center ">
                    <img src="../../../assets/img/image_20.png" alt="" srcset="">
                    <p>12 Rue du Petit Minou, 75000 PARIS</p>
                </div>
                <div class="d-flex align-items-center ">
                    <img src="../../../assets/img/image_21.png" alt="" srcset="">
                    <p>Du Lundi au Samedi, De 11:00 à 20:00</p>
                </div>
                <div class="d-flex align-items-center ">
                    <img src="../../../assets/img/image_22.png" alt="" srcset="">
                    <p>Miaou miaou miaou</p>
                </div>
            </div>
            <img class="w-25" src="../../../assets/img/image19chatadoption.png" alt="" srcset="">


        </div>


    </section>

    <app-footer></app-footer>

</body>