<body class="containerd">
    
    <app-healder></app-healder>
    <div class="container">
        <router-outlet></router-outlet>


    </div>

    <section id="array1" class="">

        <div class="d-flex flex-column align-items-end flex-direction-end">
            <div id="titleArray">
                <div id="" class="d-flex flex-row flex-direction-center align-items-center ">
                    <h1 id="logo">JavaCatCafe</h1>
                    <img src="assets/img/patoune withe.png" style="transform: rotate(40deg); margin:10px;"alt="Logo du site">
                </div>
                <p>Offrez vous un moment de détante félin</p>
            </div>
        </div>
        <div id="btArray" class="d-flex flex-column  flex-direction-center align-items-center ">
            <button class="btnPrincipal" id="Reservation" [routerLink]="['/reservation']">Reserver maintenant </button>
        </div>

    </section>
    <section id="aboutUsArray" class=" px-5">

        <div class="d-flex flex-colum justify-content-between align-items-center py-3 ">

            <div id="aboutUsArrayTop">
                <div class="TitleHeader" id="TitleHeader1">
                    <div class="Title">
                          <h1>A propos de nous</h1>
                    </div>
                    <div class="TitleIllust" id="ChatIllust1"><img src="chat rebord 1.png"></div>
                  </div>

                <p>
                    Situé en plein coeur de Paris, le JavaCatCafe est rempli d’une equipe de chats certifiés developpeur Java Spring/Angular hautement qualifiés. Ils sauront vous relaxer après une nuit de de codage acharnée, et sauront mettre la main à la patte pour vous aider à fixer les quelques bugs restants...
                </p>

            </div>



            <div id="aboutUsArrayTop" class="d-flex flex-column justify-content-center align-items-center ">
                <img id="aboutUsCat_" src="../../../assets/img/image25.png" alt="" srcset="">
            </div>
        </div>
        <div class="d-flex flex-row justify-content-between align-items-center ">

            <img id="aboutImgCatOnLaptop" class="mx-5" src="../../../assets/img/image26.png" alt="" srcset="">

            <div class="d-flex flex-colum justify-content-center align-items-center w-75 ">
                <div id="DontWaitText">
                    <h2>N’attendez pas, rendez nous visite !!!</h2>
                </div>
                <div class="d-flex flex-row flex-direction-center ">
                    <img src="../../../assets/img/patoune 4.png" alt="" srcset="">

                </div>
            </div>

        </div>
    </section>
    <section id="ourResidentArray" class="mx-5m">
        <div class="d-flex flex-column justify-content-center align-items-center w-50 h-100 "
            id="ourResidentArrayImage">
            <img class="mx-5" src="../../../assets/img/Vector.png" alt="">
            <p class="mx-5">Vous êtes félin pour l'autre...</p>
            <img src="../../../assets/img/Vector2.png" alt="">

        </div>
    </section>

    <section id="ourArrayCat" class="d-flex flex-colum justify-content-between align-items-center px-5 ">
        <div id="ourArrayCatLeft">

            <div id="ourArrayCatLeftImg" class="d-flex justify-content-center align-items-center">
                <img id="adopteMeImg" src="../../../assets/img/AdopteMe.png" alt="" srcset="">

            </div>

        </div>
        <div id="ourArrayCatRight">
            <div class="TitleHeader" id="TitleHeader1">
                <div class="Title">
                      <h1>Nos chats à l'adoption</h1>
                </div>
                <div class="TitleIllust"><img src="assets/img/chat rebord 2.png"></div>
              </div>
              <br>
              <br>
            <p>
                Vous avez toujours révé d’avoir un chat aimant à vos coté et de ne plus jamais regarder Netflix seul sur
                votre canapé ?
                <br>

                <br>
            
                Des dizaines de petits félins malheureux n’attendent que vous !!!
            </p>
            <p>
                Consulter directement sur notre site tous les chats que nous avons recueillis, et pouvant être adoptés
                dès aujourd’hui :
            </p>
<br>
<br>
<br>


             <button class="btnPrincipal" [routerLink]="['/adoption']">Découvrir nos chats disponibles</button>   





        </div>

    </section>
    <section id="vacances">

        <div id="gauche">
            
                <div class="TitleHeader" id="TitleHeader1">
                    <div class="Title">
                          <h1>Vous partez en vacances ?</h1>
                    </div>
                    <div class="TitleIllust"><img src="assets/img/chat rebord 3.png"></div>
                  </div>
                  <br><br>

                <p>Un week end en amoureux à Rome et Félix se retrouve tout seul à la maison ?
                <br>
                
                Pas de soucis, JavaCatCafe s’occuppe de tout !!! Déposez votre chat chez nous pendant vos vacances et
                    nous nous chargerons de lui faire vivre un séjour aussi inoubliable que le votre !</p>

                    <br>
            

            <div class="d-flex flex-column align-items-center pb-5 ">

                <button class="btnPrincipal" [routerLink]="['/garde']">Faites garder votre chat</button> 
            </div>
        </div>

        <div id="droite">
            <div class="frame">
                <img src="../../../assets/img/chat-valise.jpg" alt="chat dans une valise">
            </div>
        </div>
    </section>

    <section id="tout">

        <h2 id="barre">placeholder pour la barre</h2>

        <div id="barreNosEspaces">

            <div id="barreNosEspacesGauche">
                <h1 id="barreNosEspacesTexte">
                    NOS ESPACES
                </h1>
            </div>

            <div id="barreNosEspacesDroite">
                <input id="barreNosEspacesBtn" type="button" name="" value="Reservez maintenant">
            </div>
        </div>

        <div id="futureCarousel">
            <div id="divImg1">
                <div class="divNomEspaceFlex">
                    <div class="divNomEspaceRelative">
                        <p class="nomEspace">Salon de thé</p>
                    </div>
                </div>
                <img src="../../../assets/img/4 1.png" id="img1">


            </div>
            <div id="divImg2">
                <div class="divNomEspaceFlex">
                    <div class="divNomEspaceRelative">
                        <p class="nomEspace">Salon de coworking</p>
                    </div>
                </div>
                <img src="../../../assets/img/image 15.png" id="img2">
            </div>
        </div>

        <div id="carteEspaceRelative">
            <div id="carteEspaceAbsolute">
                <div id="carteEspaceFlex">

                    <h2>Espaces disponibles</h2>

                    <div class="salle">
                        <div class="texteSalle">
                            <p>Salon de thé</p>
                            <p>Prendre un thé avec un super gateau fait maison entouré de chats trop mignon</p>
                        </div>
                        <div class="prixSalle">
                            <p>15 €</p>
                        </div>
                    </div>

                    <div class="salle">
                        <div class="texteSalle">
                            <p>Salle de coworking</p>
                            <p>Pour travailler efficacement au milieu des chats
                                (10 personnes max)</p>
                        </div>
                        <div class="prixSalle">
                            <p>15 €</p>
                        </div>
                    </div>

                    <div class="salle">
                        <div class="texteSalle">
                            <p>Salon de jeux de société</p>
                            <p>Venez vous amusez au milieu des chats</p>
                        </div>
                        <div class="prixSalle">
                            <p>15 €</p>
                        </div>
                    </div>

                    <div class="salle">
                        <div class="texteSalle">
                            <p>Salon chill</p>
                        </div>
                        <div class="prixSalle">
                            <p>15 €</p>
                        </div>
                    </div>






                </div>
            </div>


        </div>


    </section>


    <section class="px-5 border-top border-secondary" id="location">
        <h2 class="py-5  ">Nous Trouver</h2>
        <div class="d-flex flex-row align-items-center justify-content-around">

            <img class="w-25" src="../../../assets/img/image_18.png" alt="" srcset="">
            <div class="w-25">
                <div class="d-flex align-items-center ">
                    <img src="../../../assets/img/image_20.png" alt="" srcset="">
                    <p>12 Rue du Petit Minou, 75000 PARIS</p>
                </div>
                <div class="d-flex align-items-center ">
                    <img src="../../../assets/img/image_21.png" alt="" srcset="">
                    <p>Du Lundi au Samedi, De 11:00 à 20:00</p>
                </div>
                <div class="d-flex align-items-center ">
                    <img src="../../../assets/img/image_22.png" alt="" srcset="">
                    <p>Miaou miaou miaou</p>
                </div>
            </div>
            <img class="w-25" src="../../../assets/img/image19chatadoption.png" alt="" srcset="">


        </div>


    </section>

    <app-footer></app-footer>

</body>