@import 'ngx-toastr/toastr';
@import '../adoption/adoption.component.scss';
main{
    width: 100% !important;;
    background-color: rgba(239, 212, 160, 1);
}

h2{
  margin-top: 10px;
}


.contain{
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    background: #B5986D;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 35px;
    border: solid;
    border-color: black;
    border-width: 3px;
    width: 80%;
    padding : 20px;

}

.contain2{
  display : flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
    border-width: 3px;
  width: 100%;
  padding : 10px;

}

.fomPerso{
  min-width: 350px;
}

#infoPerso
{
  border: solid;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: #B5986D;
  margin-top: 40px;
  border-radius: 15px;
  padding: 40px;
  width: 40%;
  min-width: 40%;
  height: 500px;
}



#tout {
    //background-color:#ECE0C9;
    background: linear-gradient(180deg, #ECE0C9 0%, #EFD4A0 100%);
  }
  
  .titre {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  #titreChat {
    width: 315px;
    height: 145px;
    left: 1011px;
    top: 104px;
    margin-bottom: -28.9px;
    margin-right: -395px;
    z-index: 1;
  }
  
  #titreText {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 70px;
    left: 455px;
    top: 206px;
    background-color: #D3AC71;
    border-bottom-style: solid;
    border-top-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-radius: 20px;
    font-size: 40px;
  }
  
  .marron {
    background-color: #D3AC71;
  }
  
  .gris {
    border-radius: 20px;
    border: 4px hidden ;
    background-color: #857E73;
  }
  
  .btnNavBar {
    background-color: #D3AC71;
    font-family:AmaticStandard;
    font-size:150%;
    color: black;
  }
  
  .btnNavBar:hover {
    //width: 206px;
    //height: 56px;
    //border-width: 2px;
    color: white;
    border-color: white;
    background-color: #EFD4A0;
    //font-size: 21px;
  
  }
  
  #separationbas {
    border-top-style: solid;
    margin-inline-start: 76px;
    margin-inline-end: 76px;
  }
  
  .separationhaut {
    border-top-style: solid;
    margin-inline-start: 76px;
    margin-inline-end: 76px;
  }
  
  .customdeck {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%!important;
  }
  
  .raccourcis{
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    border-top-color: rgba(var(--bs-dark-rgb), var(--bs-border-opacity)) !important;
    border-top: 3%;
  }
  
  .customcard {
    border-radius: 20px;
    border: 4px solid;
    box-shadow: 0px 4px 4px rgba(148, 141, 141, 0.25);
    width: 30%;
  }
  
  .fontAbel{
    font-family: Abel;
    font-size:110%;
  }
  
  .fontAmatic{
    font-size:150%;
    font-family:AmaticBold;
  }
  
  .capitalize {
    text-transform: capitalize;
  }
  
  .upercase{
    border-radius: 20px;
    border: 4px hidden ;
    text-transform: uppercase;
  }
  
  .liste {
    list-style: none;
  }
  
  .imgChat {
    height: 250px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border-radius: inherit;
    margin-top: 5px;
    margin-bottom: 5px;
}

  .btnPrincipal{

    align-self: center;
    width: 200px;
    height: 55px;
    font-size: 22px;
    text-align: center;
    font-family: "AmaticBold";
    margin: 8px;
    color:white!important;
    background: rgba(133, 126, 115, 1);
    border-radius: 4px;
    border-width: 2px;
    border: solid black!important;
    transition: all 0.2s linear 0s;
    cursor: pointer;
    padding: 4px;
  
  
  }
  
  .btnPrincipal:hover {

    color: white;
    border-color: solid black;
    font-size: 24px;
    width: 204px;
    height: 59px;
    border-width: 6px;
    margin : 6px;
  }

  .formInfoPerso{
    min-width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  #accueil{
    width: 100%;
    min-width: 1000px;
    display: flex;
    justify-content: space-evenly;
  }

  #accueilLeft{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    width : 50%;

  }

h3{
    font-size: 35px;
    font-family: 'AmaticStandard';
  }

  #chatBricoleur{
    background-image: url(../../../assets/img/ChatBricoleur.png);
    background-size: contain;
    height: 300px;
    width: 300px;
  }