<app-healder></app-healder>

<main class="d-flex flex-column  flex-direction-center align-items-center">

    <h1>Bienvenue: {{myCompte?.nom}} </h1>



    <div>
        <h2 class="my-5 ">Information personnelles </h2>

        <table class="table table-hover">
            <thead>

            </thead>
            <tbody>
                <tr>
                    <td>Nom</td>
                    <td> {{myCompte?.nom}}</td>
                </tr>
                <tr>
                    <td>Prenom</td>
                    <td>{{myCompte?.prenom}}</td>
                </tr>
                <tr>
                    <td>Télephone</td>
                    <td>{{myCompte?.telephone}}</td>
                </tr>
                <tr>
                    <td>Login</td>
                    <td>{{myCompte?.login}}</td>
                </tr>


            </tbody>
            <span (click)="showUpdateForm=true" class="badge badge-secondary">Modifier mes informations</span>


        </table>


    </div>

    <form *ngIf="showUpdateForm" (ngSubmit)="update()" [formGroup]="updateCompte">
        <div class="form-group">
            <label>Nom </label>
            <input class="form-control" formControlName="nom" />
            <div class="text-danger"
                *ngIf="updateCompte.get('nom')?.hasError('required')&&updateCompte.get('nom')?.dirty">
                Le nom est obligatoire
            </div>
        </div>
        <div class="form-group">
            <label>Prénom </label>
            <input class="form-control" formControlName="prenom" />
            <div class="text-danger"
                *ngIf="updateCompte.get('prenom')?.hasError('required')&&updateCompte.get('prenom')?.dirty">
                Le prénom est obligatoire
            </div>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" formControlName="login" placeholder="Enter email">
            <div class="text-danger" *ngIf="updateCompte.get('login')?.hasError('login')">
                Email Incorrecte
            </div>
        </div>

        <div class="form-group">
            <label>Télephone</label>
            <input class="form-control" type="tel" formControlName="telephone" />
            <div class="text-danger"
                *ngIf="updateCompte.get('telephone')?.hasError('telephone')&&updateCompte.get('telephone')?.dirty">
                Le numero de télephone est obligatoire
            </div>
        </div>

        <input type="submit" class="btn btn-primary mt-3" [disabled]="updateCompte.invalid" value="Modifier !" />
    </form>

    <div>
        <h2 class="my-5 ">Vos Chats </h2>

    </div>

    <div>
        <h2 class="my-5 ">Vos gardes </h2>

    </div>


    <div>
        <h2 class="my-5 ">Vos adoptions </h2>

    </div>

</main>