footer {
    height: 221px;
    border-radius: 0px;

    background: linear-gradient(180deg, #EFD4A0 0%, #000000 43.23%);
    //Todo: how does it work ?
    //background: linear-gradient(0deg, #CEC1A8, #CEC1A8),linear-gradient(180deg, #EFD4A0 0%, #000000 43.23%);

}

p {
    font-family: 'Abel';
    font-size: 96px;
    font-weight: 400;
    line-height: 122px;
    letter-spacing: 0em;
    text-align: right;
    color: white;
}

img {
    transform: rotate(40deg);
    margin: 10px;
}