
    <nav>
    
        <img class="NavImg" src="../../../assets/img/patoune.png" [routerLink]="['/']" alt="Logo du site">
        <button class="btnNavBar " [routerLink]="['/']"> Accueil </button>
        <button class="btnNavBar " [routerLink]="['/adoption']"> Adopter un chat </button>
        <button class="btnNavBar" [routerLink]="['/garde']"> Faire garder son chat </button>
        <button class="btnNavBar " [routerLink]="['/reservation']">Reservation </button>
        <button class="btnNavBar " [routerLink]="['/profil']">Mes Infos </button>
        <div id="connexion">
            <button *ngIf="!auth" class="btnNavBar" [routerLink]="['/connexion']" (click)="logOut()"> Connexion</button>
            <button *ngIf="auth"class="btnNavBarConnected" [routerLink]="['/connexion']" (click)="logOut()"> Deconnexion</button>
      
        </div>
    </nav>