nav {
    
    position: sticky;
    top: 0;
    z-index: 10;

    background: transparent;
     height: 100px;
    width: 100%;
    max-width: 100%;
    min-width: 1200px;
    display: flex;
    align-items: center;
    border:solid;
    border-width: 0px;
    border-bottom-width: 2px;
    border-color: rgb(255, 255, 255);



}

nav::after{
    position : absolute;
    z-index: -1;
    content:"";
    background-color: rgb(0, 0, 0);
    opacity:70%;
    height: 100px;
    width: 1600px;
    max-width: 100%;
    min-width: 1200px;
}





.btnNavBar, .btnNavBarConnected {

    display: block;
    min-width: 200px;
    width: 200px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    font-family: "Abel";
    color: rgb(192, 192, 192);
    margin: 10px;
    background: black;
    border-radius: 15px;
    border-width: 2px;
    border-color: rgb(192, 192, 192);
    transition: all 0.2s linear 0s;
    cursor: pointer;


}

.btnNavBar:hover, .btnNavBarConnected:hover  {
    width: 206px;
    height: 56px;
    border-width: 4px;
    color: white;
    border-color: white;
    font-size: 21px;
}

.btn{
    border: 1px white!important;
    color: white;
    font-size: larger;
    font-weight: bold;}




.btnNavBarConnected {
   // margin-left: 40px;
    font-weight: bold;
}

   

.NavImg {
    border:solid;
    border-width: 0;
    transform: rotate(-30deg);
    cursor: pointer;
    margin-left: 15px;
    margin-right: 15px;

}

#connexion{
    display: flex;
    justify-content: center;
    align-items: end;
    width : 100%;
    max-width: 300px;
    margin-left: 20px;
    border:solid;
    border-width: 0px;
    border-left-width: 2px;
    border-color: rgb(255, 255, 255);


}

.navLine{
    margin-left: 150px!important;
    margin-right: 50px!important;

}