
    <nav>
    
        <img class="NavImg" src="assets/img/patoune withe.png" [routerLink]="['/']" alt="Logo du site">
        <p *ngIf="!compte.id">Connectez vous pour profiter de tous nos services : </p>
        <button *ngIf="!compte.id" class="btnNavBar" [routerLink]="['/connexion']" (click)="login()"> Connexion</button>
        <button *ngIf="(compte.id && compte.id!==1)" class="btnNavBar " [routerLink]="['/']"> Accueil </button>
        <button *ngIf="(compte.id && compte.id!==1)" class="btnNavBar " [routerLink]="['/adoption']"> Adopter un chat </button>
        <button *ngIf="(compte.id && compte.id!==1)" class="btnNavBar" [routerLink]="['/garde']"> Faire garder son chat </button>
        <button *ngIf="(compte.id && compte.id!==1)" class="btnNavBar " [routerLink]="['/reservation']">Reservation </button>
        <button *ngIf="(compte.id && compte.id!==1)" class="btnNavBar " [routerLink]="['/profil']">Mes Infos </button>
        <button *ngIf="(compte.id && compte.id==1)" class="btnNavBar " [routerLink]="['/admin']">Menu Admin</button>
        <div id="connexion" *ngIf="compte.id">
            <p >Bienvenue {{compte.prenom}} !</p>
            <div class="btnNavBar " [routerLink]="['/connexion']" (click)="logOut()">Deconnexion </div>
            
      
        </div>
    </nav>