
nav{
    width: 90%;
}

header{
    background-color: black;
    color: white!important;
    
}

.btn{

    border: 1px white!important;
    color: white;
    font-size: larger;
    font-weight: bold;

}